@model IEnumerable<FlightViewModel>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>@Localizer["Origin"]</th>
            <th>@Localizer["Destiny"]</th>
            <th>@Localizer["Actions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var flight in Model)
        {
            <tr>
                <td>@flight.Id</td>
                <td>@flight.OriginId</td>
                <td>@flight.DestinationId</td>
                <td>
                    <div class="d-flex gap-2">
                        <form asp-action="Approve" asp-route-id="@flight.Id" method="post">
                            <button type="submit" class="btn btn-success btn-sm">@Localizer["Approve"]</button>
                        </form>

                        <form asp-action="Reject" asp-route-id="@flight.Id" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">@Localizer["Reject"]</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>